* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  --color1: #ffffff;
  --color2: #000000;
}

.nav-bar {
  width: 100%;
  background: var(--color1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 12px 20px;
}

.logo img {
  width: 100px;
  height: 100px;
} 

.menu {
  display: flex;
}

.menu li {
  padding-left: 30px;
}

.menu li a {
  display: inline-block;
  text-transform: uppercase;
  transition: 0.15s ease-in-out;
  color: var(--color2);
  text-align: center;
  position: relative;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: var(--color2);
  transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
  width: 100%;
}

.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  color: var(--color2);
  font-size: 1rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}

.close-menu {
  top: 50px;
  right: 25px;
}

#check {
  display: none;
}

@media (max-width: 715px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color1);
    transition: all 0.2s ease-in-out;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  #check:checked ~ .menu {
    right: 0;
  }
}
